---
layout: default
---


	<ul id="articles_container">
		{% for post in paginator.posts %} 
		<li class="article_wrapper">
			<div class="social_links">
          		<ul>
            		<div class="facebook"></div>
            		<div class="twitter"></div>
            		<div class="linkedin"></div>
            		<div class="stumbleupon"></div>
            		<div class="digg"></div>
          		</ul>
        	</div>

			<div id="authors">
      			<img src="/assets/images/{{post.author}}.jpg"/>
      			<div><a href="/authors/{{post.author}}">{{post.author}}</a><br/>{{post.date | date: "%d %B %Y" }}</div>
        	</div>

        	<div class="article_title"> 
            <a href="{{ post.url }}">{{post.title}}</a>
          </div>

          <div id="article_content">
        	{{post.summary}} <!-- Should probably have its own div, for parsing.  -->
        </div>
		</li>
		{% endfor %} 	
	</ul>	

  <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/page{{paginator.previous_page}}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>


