<div class="social_links">
	<ul>
	  {% if post.url %}   
	  	{% assign post_or_page = post %}
	  {% else %}
	  	{% assign post_or_page = page %}
	  {% endif %}  

	  
      <a href="https://plus.google.com/share?&url=descaped.com{{post_or_page.url}}" target="_blank">
      	<li class="googleplus"></li>
      </a>
      <a href="http://www.linkedin.com/shareArticle?mini=true&url=descaped.com{{post_or_page.url}}&title={{post_or_page.title}}&summary={{post_or_page.summary}}&source=The%20Escaped" target="_blank">
      	<li class="linkedin"></li>
      </a>
      <a href="https://twitter.com/share?url=descaped.com{{post_or_page.url}}&text={{post_or_page.title}} theescaped.github.com{{post_or_page.url}}" target="_blank">
      	<li class="twitter">
      	</li>
      </a>
      <a href="https://www.facebook.com/sharer/sharer.php?u=descaped.com{{post_or_page.url}}"  target="_blank">
        <li class="facebook"></li>
      </a>
    </ul>
</div>



