---
layout: default
---

<ul id="articles_container">
	{% for post in site.categories.[page.category] %} 
		<li class="article_wrapper">
      {% include social_links.html %}
      
      <div id="authors">
        <img src="/assets/images/{{post.author}}.jpg" />
        <div>
          <a href="/authors/{{post.author}}">{{post.author}}</a>
          <br/>
          {{post.date | date: "%d %B %Y" }}
        </div>
      </div>
      
      <div class="article_title">
        <a href="{{ post.url }}">{{post.title}}</a>
      </div>
      
      <div id="article_content">
        {{post.summary}}
      </div>
      
	 </li>
	{% endfor %} 	
</ul>	

