---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>The Escaped &middot; Writer Section</title>
  <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon' />
  <link rel='stylesheet' href='/write/fonts/open-sans.css'>
  <link rel='stylesheet' href='/write/app.css'>
  {% include templates.html %}
  <script src='/write/boot.js'></script>
</head>
<body>
  <div id='container'>
    <div id='main'>{{content}}</div>
  </div>

  <div id='footer'>
    <div class="footer-content">
      <a class='help' href="/{{site.baseurl}}help.html">Help</a><a class='about' href="/2012/09/09/about-the-escaped.html">About</a>
      <div class="fr brand">
        <a href="http://prose.io">Prose 0.2.0</a>
      </div>
   </div>
  </div>
</body>
</html>